h1 {
    margin-top: -5px;
}

#container {
    margin-top: 30px;
    padding: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #C6AC00;
    background-color: #FFF295;
}

#input {
    max-width: 294px;
    max-height: 110px;
}

textarea {
    resize: none;
    border: 1px solid #C6AC00;
}

#sendbutton {
    float: right;
}

#messagesent div {
    border-style: solid;
    border-width: 30px;
    margin-bottom: 7px;
    font-size:0.8em;
}

.messagetext {
    margin-top: 23px;
    background-color: white;
    border: 1px solid #C6AC00;
    height: auto;
    padding: 10px;
    margin-bottom: 7px;
}

.datetext {
    position:relative; 
    float: left;
    font-size: 12px;
}

footer .datetext {
    position:relative; 
    float: left;
    font-size: 12px;
}

img {
    float: right;
}

#counter {
    float: right;
}

p {
 word-wrap: break-word; 
}
